@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-main {
    height: calc(100vh - 3.5rem)
  }
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}